footer {
    position:fixed;
    padding:0;
    left:0;
    bottom:0;
    right:0;
    background-color:#2f2f2f;
    color:white;
}

footer p a {
    color:cyan;
    padding:0;
}

footer p {
    margin:0;
    padding:20px;
}
