#panel-number-select {
    position:relative;
    margin-bottom:20px;
}

#panel-number-select label {
    font-size:20px;
}

#panel-number-select select {
    font-size:20px;
}

#panel-number-select button {
    font-size:20px;
}
